In [ ]:

import pandas as pd
import glob
from tqdm import tqdm
# from pandasgui import show



archivo = "Contratos_crudo\Contratos_2006.csv"
df = pd.read_csv(archivo, sep=";");
# display(df)

df_sincolumnas = df.drop(columns=['mes', 'Codigo mes'], errors='ignore') 
# display(df_sincolumnas)

<>:9: SyntaxWarning: invalid escape sequence '\C'
<>:9: SyntaxWarning: invalid escape sequence '\C'
C:\Users\julia\AppData\Local\Temp\ipykernel_25236\706569545.py:9: SyntaxWarning: invalid escape sequence '\C'
  archivo = "Contratos_crudo\Contratos_2006.csv"

,Codigo mes,mes,Codigo de CA,Comunidad Autonoma,Codigo Provincia,Provincia,Codigo Municipio,Municipio,Total Contratos,Contratos iniciales indefinidos hombres,Contratos iniciales temporales hombres,Contratos convertidos en indefinidos hombres,Contratos iniciales indefinidos mujeres,Contratos iniciales temporales mujeres,Contratos convertidos en indefinidos mujeres,Contratos Agricultura,Contratos Industria,Contratos Construccion,Contratos Servicios
0,200601,01/01/2006,1,Andalucía,4,Almería,4001,Abla,44,1,11,0,0,32,0,7,0,7,30
1,200601,01/01/2006,1,Andalucía,4,Almería,4002,Abrucena,34,0,12,0,0,21,1,19,2,1,12
2,200601,01/01/2006,1,Andalucía,4,Almería,4003,Adra,627,3,461,9,7,139,8,123,13,327,164
3,200601,01/01/2006,1,Andalucía,4,Almería,4004,Albánchez,4,0,4,0,0,0,0,0,1,2,1
4,200601,01/01/2006,1,Andalucía,4,Almería,4005,Alboloduy,15,0,6,0,0,9,0,3,0,2,10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
97399,200612,01/12/2006,17,"Rioja, La",26,"Rioja, La",26180,Zarratón,9,0,9,0,0,0,0,0,0,7,2
97400,200612,01/12/2006,17,"Rioja, La",26,"Rioja, La",26181,Zarzosa,1,0,1,0,0,0,0,1,0,0,0
97401,200612,01/12/2006,17,"Rioja, La",26,"Rioja, La",26183,Zorraquín,1,0,0,0,0,1,0,0,0,0,1
97402,200612,01/12/2006,18,Ceuta,51,Ceuta,51001,Ceuta,1362,53,561,49,31,634,34,10,19,93,1240
97403,200612,01/12/2006,19,Melilla,52,Melilla,52001,Melilla,1179,41,392,57,17,606,66,8,27,168,976

,Codigo de CA,Comunidad Autonoma,Codigo Provincia,Provincia,Codigo Municipio,Municipio,Total Contratos,Contratos iniciales indefinidos hombres,Contratos iniciales temporales hombres,Contratos convertidos en indefinidos hombres,Contratos iniciales indefinidos mujeres,Contratos iniciales temporales mujeres,Contratos convertidos en indefinidos mujeres,Contratos Agricultura,Contratos Industria,Contratos Construccion,Contratos Servicios
0,1,Andalucía,4,Almería,4001,Abla,44,1,11,0,0,32,0,7,0,7,30
1,1,Andalucía,4,Almería,4002,Abrucena,34,0,12,0,0,21,1,19,2,1,12
2,1,Andalucía,4,Almería,4003,Adra,627,3,461,9,7,139,8,123,13,327,164
3,1,Andalucía,4,Almería,4004,Albánchez,4,0,4,0,0,0,0,0,1,2,1
4,1,Andalucía,4,Almería,4005,Alboloduy,15,0,6,0,0,9,0,3,0,2,10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
97399,17,"Rioja, La",26,"Rioja, La",26180,Zarratón,9,0,9,0,0,0,0,0,0,7,2
97400,17,"Rioja, La",26,"Rioja, La",26181,Zarzosa,1,0,1,0,0,0,0,1,0,0,0
97401,17,"Rioja, La",26,"Rioja, La",26183,Zorraquín,1,0,0,0,0,1,0,0,0,0,1
97402,18,Ceuta,51,Ceuta,51001,Ceuta,1362,53,561,49,31,634,34,10,19,93,1240
97403,19,Melilla,52,Melilla,52001,Melilla,1179,41,392,57,17,606,66,8,27,168,976

In [27]:
print(df.columns.tolist())

['Codigo mes', 'mes', 'Codigo de CA', 'Comunidad Autonoma', 'Codigo Provincia', 'Provincia', 'Codigo Municipio', ' Municipio', 'Total Contratos', 'Contratos iniciales indefinidos hombres', 'Contratos iniciales temporales hombres', 'Contratos convertidos en indefinidos hombres', 'Contratos iniciales indefinidos mujeres', 'Contratos iniciales temporales mujeres', 'Contratos convertidos en indefinidos mujeres', 'Contratos  Agricultura', 'Contratos  Industria', 'Contratos Construccion', 'Contratos  Servicios']

In [29]:
df_muni = df_sincolumnas.groupby(" Municipio", as_index=False).agg({
    "Codigo de CA": "first",       # mismo valor para cada municipio
    "Comunidad Autonoma": "first",   # o cualquier identificador único
    "Provincia": "first",         # columnas numéricas → suma
    "Total Contratos": "mean",       # o promedio, según lo que quieras
})

display(df_muni)

,Municipio,Codigo de CA,Comunidad Autonoma,Provincia,Total Contratos
0,Ababuj,2,Aragón,Teruel,2.583333
1,Abades,7,Castilla y León,Segovia,7.750000
2,Abadiño,16,País Vasco,Bizkaia,307.333333
3,Abadía,11,Extremadura,Cáceres,12.083333
4,Abadín,12,Galicia,Lugo,26.416667
...,...,...,...,...,...
8095,Òrrius,9,Cataluña,Barcelona,8.333333
8096,Ólvega,7,Castilla y León,Soria,94.333333
8097,Órgiva,1,Andalucía,Granada,120.000000
8098,Úbeda,1,Andalucía,Jaén,1505.500000
8099,Úrbel del Castillo,7,Castilla y León,Burgos,0.000000