## Limpieza de datos

## Limpieza para Contratos

In [5]:
import pandas as pd
import glob

# Carpeta donde están tus CSVs (ajústala)
carpeta_csv = r"..\proyecto_paro\data\paro"
archivos = glob.glob(f"{carpeta_csv}\*.csv")

# for archivo in archivos:
#     print(archivo)

<>:6: SyntaxWarning: invalid escape sequence '\*'
<>:6: SyntaxWarning: invalid escape sequence '\*'
C:\Users\SergioBeamonteGonzal\AppData\Local\Temp\ipykernel_15068\3434856476.py:6: SyntaxWarning: invalid escape sequence '\*'
  archivos = glob.glob(f"{carpeta_csv}\*.csv")

In [ ]:
# Lista para almacenar los DataFrames procesados
dfs_limpios = []

# Columnas numéricas a sumar
sum_cols = ['Total Contratos',
            'Contratos iniciales indefinidos hombres',
            'Contratos iniciales temporales hombres',
            'Contratos convertidos en indefinidos hombres',
            'Contratos iniciales indefinidos mujeres',
            'Contratos iniciales temporales mujeres',
            'Contratos convertidos en indefinidos mujeres',
            'Contratos Agricultura',
            'Contratos Industria',
            'Contratos Construcción',
            'Contratos Servicios']

# Columnas por las que agrupar
group_cols = ['Código de CA', 'Comunidad Autónoma', 'Codigo Provincia', 
              'Provincia', 'Codigo Municipio', 'Municipio', 'anio']

In [6]:
for archivo in archivos:
    # Leer CSV
    df = pd.read_csv(archivo, sep=";", encoding='latin-1', skiprows=1, header=0)
        
    # Limpiar nombres de columnas
    df.columns = df.columns.str.strip()
    
    # Crear columna 'año' a partir de 'mes'
    df['anio'] = df['mes'].str.extract(r'(\d{4})').astype(int)
    
    # Resumen anual por municipio
    df_anual = df.groupby(group_cols)[sum_cols].sum().reset_index()
    
    # Añadir a la lista
    dfs_limpios.append(df_anual)

# Concatenar todos los años en un solo DataFrame
df_final = pd.concat(dfs_limpios, ignore_index=True)

# Mostrar resultado
df_final.head(5)

KeyError: "Columns not found: 'Total Contratos', 'Contratos  Servicios', 'Contratos convertidos en indefinidos hombres', 'Contratos iniciales temporales hombres', 'Contratos  Agricultura', 'Contratos  Industria', 'Contratos iniciales indefinidos hombres', 'Contratos iniciales indefinidos mujeres', 'Contratos convertidos en indefinidos mujeres', 'Contratos iniciales temporales mujeres', 'Contratos Construcción'"

In [204]:
display(df_final)

,Código de CA,Comunidad Autónoma,Codigo Provincia,Provincia,Codigo Municipio,Municipio,anio,Total Contratos,Contratos iniciales indefinidos hombres,Contratos iniciales temporales hombres,Contratos convertidos en indefinidos hombres,Contratos iniciales indefinidos mujeres,Contratos iniciales temporales mujeres,Contratos convertidos en indefinidos mujeres,Contratos Agricultura,Contratos Industria,Contratos Construcción,Contratos Servicios
0,1,Andalucía,4,Almería,4001,Abla,2010,280,3,137,2,2,133,3,101,12,19,148
1,1,Andalucía,4,Almería,4002,Abrucena,2010,456,3,295,1,0,156,1,96,5,206,149
2,1,Andalucía,4,Almería,4003,Adra,2010,4274,102,2172,44,44,1873,39,1373,85,468,2348
3,1,Andalucía,4,Almería,4004,Albánchez,2010,123,4,83,1,0,35,0,21,9,20,73
4,1,Andalucía,4,Almería,4005,Alboloduy,2010,187,0,92,0,1,94,0,57,11,19,100
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
121880,17,"Rioja, La",26,"Rioja, La",26180,Zarratón,2024,135<553581213141014<5,5<5<5<57<5667610<5,500<521<5<55<5<5<5<5,<500000000000,<5<5<5<5<5<5<5<5<5<5<5<5,000<56000<5000,000000000000,135<5<534681210914<5,000<50000<5000,000000000000,00<5<5<5<5<5<50<500
121881,17,"Rioja, La",26,"Rioja, La",26181,Zarzosa,2024,000000<500000,000000000000,000000<500000,000000000000,000000000000,000000000000,000000000000,000000000000,000000000000,000000000000,000000<500000
121882,17,"Rioja, La",26,"Rioja, La",26183,Zorraquín,2024,00<5000000000,000000000000,000000000000,00<5000000000,000000000000,000000000000,000000000000,000000000000,000000000000,00<5000000000,000000000000
121883,18,Ceuta,51,Ceuta,51001,Ceuta,2024,1073934874103011591155143110801229141110691388,144224167238289217248252225248209233,348252255236285340476332316405296406,171011814121613161777,138147138213219221185144172209158128,415283290304339360480328479517387605,1118133113526112115129,90956<56<5<512168,212715282227864429233972,407253565049585157564932,1003835797941108110781281984113913209651276
121884,19,Melilla,52,Melilla,52001,Melilla,2024,130511691255117012091199150311831540146313161235,229235236254295216330321329340309259,298297349326307366471340458362320324,17291115185<52013142010,202218198208214241218163315356274205,540366442348366360467324413379384423,1924191991113151212914,<5<5070<500<5060,261828562520303228553135,978467879358869392908177,117910631160102010911118138710581418131811981123

In [205]:
# Guardar el DataFrame final en un CSV
df_final.to_csv(r"..\proyecto_paro\data\datos_compactos\contratos_anuales_por_municipio.csv", 
                index=False,  # No guardar el índice
                sep=";",      # Separador de columnas (igual que tus CSV originales)
                encoding='utf-8')  # Puedes usar 'latin-1' si lo abres en Excel

## Limpieza para paro

In [206]:
import pandas as pd
import glob

# Carpeta donde están tus CSVs (ajústala)
carpeta_csv = r"..\proyecto_paro\data\paro"
archivos = glob.glob(f"{carpeta_csv}\*.csv")

# for archivo in archivos:
#     print(archivo)

archivo = archivos[0]  # Primer archivo

# Leer el CSV
df = pd.read_csv(archivo, sep=";", encoding='latin-1', skiprows=1, header=0)

# Limpiar espacios en nombres de columnas
df.columns = df.columns.str.strip()

# Mostrar nombres de columnas
print("Columnas del archivo:", archivo)
print(df.columns.tolist())

Columnas del archivo: ..\proyecto_paro\data\paro\Paro_por_municipios_2010_csv.csv
['Código mes', 'mes', 'Código de CA', 'Comunidad Autónoma', 'Codigo Provincia', 'Provincia', 'Codigo Municipio', 'Municipio', 'total Paro Registrado', 'Paro hombre edad < 25', 'Paro hombre edad 25 -45', 'Paro hombre edad >=45', 'Paro mujer edad < 25', 'Paro mujer edad 25 -45', 'Paro mujer edad >=45', 'Paro Agricultura', 'Paro Industria', 'Paro Construcción', 'Paro Servicios', 'Paro Sin empleo Anterior']

<>:6: SyntaxWarning: invalid escape sequence '\*'
<>:6: SyntaxWarning: invalid escape sequence '\*'
C:\Users\julia\AppData\Local\Temp\ipykernel_29024\3485034883.py:6: SyntaxWarning: invalid escape sequence '\*'
  archivos = glob.glob(f"{carpeta_csv}\*.csv")

In [207]:
# Lista para almacenar los DataFrames procesados
dfs_limpios = []

# Columnas numéricas a sumar

mean_cols = ['total Paro Registrado',
        'Paro hombre edad < 25',
        'Paro hombre edad 25 -45',
        'Paro hombre edad >=45',
        'Paro mujer edad < 25',
        'Paro mujer edad 25 -45',
        'Paro mujer edad >=45',
        'Paro Agricultura',
        'Paro Industria',
        'Paro Construcción',
        'Paro Servicios',
        'Paro Sin empleo Anterior']


# Columnas por las que agrupar
group_cols = ['Código de CA', 'Comunidad Autónoma', 'Codigo Provincia', 
              'Provincia', 'Codigo Municipio', 'Municipio', 'anio']

In [208]:
for archivo in archivos:
    # Leer CSV
    df = pd.read_csv(archivo, sep=";", encoding='latin-1', skiprows=1, header=0)
    
    # Limpiar nombres de columnas
    df.columns = df.columns.str.strip()
    
    # Crear columna 'año' a partir de 'mes'
    df['anio'] = df['mes'].str.extract(r'(\d{4})').astype(int)

    for col in mean_cols:
        df[col] = pd.to_numeric(df[col].astype(str).str.replace(',', '').str.strip(), errors='coerce')
    
    # Resumen anual por municipio
    df_anual = df.groupby(group_cols)[mean_cols].mean().reset_index().round(1)
    
    # Añadir a la lista
    dfs_limpios.append(df_anual)

# Concatenar todos los años en un solo DataFrame
df_final = pd.concat(dfs_limpios, ignore_index=True)

# Mostrar resultado
df_final.head(5)
# display(df_final)

,Código de CA,Comunidad Autónoma,Codigo Provincia,Provincia,Codigo Municipio,Municipio,anio,total Paro Registrado,Paro hombre edad < 25,Paro hombre edad 25 -45,Paro hombre edad >=45,Paro mujer edad < 25,Paro mujer edad 25 -45,Paro mujer edad >=45,Paro Agricultura,Paro Industria,Paro Construcción,Paro Servicios,Paro Sin empleo Anterior
0,1,Andalucía,4,Almería,4001,Abla,2010,94.2,8.3,24.4,24.8,4.8,21.1,10.8,8.8,5.0,24.1,46.4,9.9
1,1,Andalucía,4,Almería,4002,Abrucena,2010,77.9,2.9,27.2,22.7,6.1,12.5,6.5,7.4,5.5,21.2,38.5,5.3
2,1,Andalucía,4,Almería,4003,Adra,2010,2951.3,204.4,971.5,457.5,145.7,728.9,443.3,277.4,173.7,922.8,1252.2,325.2
3,1,Andalucía,4,Almería,4004,Albánchez,2010,22.5,2.0,9.5,3.2,0.8,4.5,2.6,0.1,5.8,6.2,7.6,2.8
4,1,Andalucía,4,Almería,4005,Alboloduy,2010,36.8,1.8,11.2,7.3,1.4,13.3,1.8,2.8,0.6,10.3,21.2,2.0

In [209]:
display(df_final)
df_final.to_csv(r"..\proyecto_paro\data\datos_compactos\paro_anual_por_municipio.csv", 
                index=False,  # No guardar el índice
                sep=";",      # Separador de columnas (igual que tus CSV originales)
                encoding='utf-8')  # Puedes usar 'latin-1' si lo abres en Excel

,Código de CA,Comunidad Autónoma,Codigo Provincia,Provincia,Codigo Municipio,Municipio,anio,total Paro Registrado,Paro hombre edad < 25,Paro hombre edad 25 -45,Paro hombre edad >=45,Paro mujer edad < 25,Paro mujer edad 25 -45,Paro mujer edad >=45,Paro Agricultura,Paro Industria,Paro Construcción,Paro Servicios,Paro Sin empleo Anterior
0,1,Andalucía,4,Almería,4001,Abla,2010,94.2,8.3,24.4,24.8,4.8,21.1,10.8,8.8,5.0,24.1,46.4,9.9
1,1,Andalucía,4,Almería,4002,Abrucena,2010,77.9,2.9,27.2,22.7,6.1,12.5,6.5,7.4,5.5,21.2,38.5,5.3
2,1,Andalucía,4,Almería,4003,Adra,2010,2951.3,204.4,971.5,457.5,145.7,728.9,443.3,277.4,173.7,922.8,1252.2,325.2
3,1,Andalucía,4,Almería,4004,Albánchez,2010,22.5,2.0,9.5,3.2,0.8,4.5,2.6,0.1,5.8,6.2,7.6,2.8
4,1,Andalucía,4,Almería,4005,Alboloduy,2010,36.8,1.8,11.2,7.3,1.4,13.3,1.8,2.8,0.6,10.3,21.2,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
130015,17,"Rioja, La",26,"Rioja, La",26180,Zarratón,2025,6.8,0.0,0.0,0.0,0.0,0.0,NaN,2.5,0.0,0.0,6.0,0.0
130016,17,"Rioja, La",26,"Rioja, La",26181,Zarzosa,2025,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
130017,17,"Rioja, La",26,"Rioja, La",26183,Zorraquín,2025,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
130018,18,Ceuta,51,Ceuta,51001,Ceuta,2025,9240.2,504.0,1259.7,1691.3,528.9,2600.2,2656.1,38.3,270.5,410.8,6993.3,1527.3
130019,19,Melilla,52,Melilla,52001,Melilla,2025,8084.5,377.9,1015.7,1408.2,479.8,2477.4,2325.5,39.3,182.7,500.5,6032.8,1329.2